#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    padding-inline: 200px;
    margin-top: 150px;
}

.contact-main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-call-to-action {
    margin: auto;
    font-size: 4rem;
}

.contact-form-container {
    background-color: #6d748692;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 25px;
}

.contact-form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.contact-form-container form h3 {
    font-size: 2rem;
    margin-block: 50px;
    font-weight: 400;
}


